@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --very-light-color: #E9ECEF; /*#EFEFEF #CCE4FD*/
    --light-color: #CED4DA; /*#EFEFEF #A4CEFC*/
    --primary-color: #ADB5BD; /*lightgrey #77B6FB*/
    --dark-color: #495057; /*darkslategrey #1557C0*/
}

:root {
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100svh;
    display: grid;
    grid-template: 1fr max-content / minmax(9rem, 20%) 1fr;
}

nav, main {
    display: flex;
    flex-direction: column;
}

.task-container, .project-container {
    flex: 1 0 1px;
    overflow-y: auto;
}

svg {
    width: 1rem;
}

nav {
    border-right: 1px solid gray;
}

.project {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    column-gap: 0.5rem;
}

.project:not(:first-of-type) {
    padding-top: 1em;
    border-top: 1px solid gray;
}

.project-title:hover, svg:hover, button:hover, input[type=checkbox]:hover {
    cursor: pointer;
}

.project:has(.current-project) {
    font-weight: bold;
    background-color: var(--very-light-color);
}

button.new-list.new {
    margin: 1rem;
}

button.new {
    margin-top: 1em;
    align-self: flex-start;
}

button {
    padding: 0.5rem 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: var(--light-color);
}

button:hover {
    background-color: var(--primary-color);
}

button.cancel, button.new {
    background-color: transparent;
    border: 1px solid var(--light-color);
}

button.cancel:hover, button.new:hover {
    background-color: var(--light-color);
    border-color: transparent;
}

main {
    padding: 1em;
}

.task {
    padding-bottom: 1em;
}

.task:not(:first-of-type) {
    padding-top: 1em;
    border-top: 1px solid gray;
}

.task-data, .task-svg {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.task-line {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    column-gap: 0.75rem;
    align-items: center;
}

.expand {
    cursor: default;
}

.task-line:has(input[type=checkbox]:checked)::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 1rem;
    border-bottom: 1px solid grey;
    width: calc(100% - 4rem);
}

input[type=checkbox]:checked ~ .task-due-date,
.task-line:has(input[type=checkbox]:checked) > .task-name,
.task:has(input[type=checkbox]:checked)>.task-description {
    color: grey;
}

input[type=checkbox]:checked + .priority {
    background-color: lightgray;
    color: grey;
}

.task-line:has(input[type=checkbox]:checked) svg {
    fill: grey;
}

p.priority {
    min-width: 1rem;
    text-align: center;
    border-radius: 0.25rem;
}

.p1 {
    background-color: #D00000;
    color: white;
}

.p2 {
    background-color: #FFBA08;
}

.p3 {
    background-color: #A4CEFC;
}

.task-due-date {
    min-width: 3.5rem;
}

.task-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}

.task-description {
    margin-top: 1rem;
}

.hidden {
    display: none; 
}

.popup {
    position: fixed;
    z-index: 1;
    background-color: rgba(125, 125, 125, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

form {
    position: relative;
    background-color: white;
    padding: 3em 3em;
    border-radius: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.name, .description, .error {
    grid-column: 1 / -1;
}

label>select, label>input {
    display: block;
}

.new-task.priority {
    width: 100%;
}

.new-task:not(button),  .new-list.name{
    padding: 0.5rem;
}

label {
    font-size: 0.875rem;
}

textarea {
    resize: none;
    font-size: 0.75rem;
}

p.error {
    position: absolute;
    top: 1em;
    font-size: 0.875rem;
    color: red;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    grid-column: 1 / -1;
    background-color: var(--dark-color);
    padding: 0.25em 0;
}

footer>a {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

#author + svg {
    max-width: 2rem;
    fill: white;
}